---
interface LinkItem {
  label: string;
  href: string;
}

interface Props {
  links?: LinkItem[];
}

const { links = [] } = Astro.props;
---
{
  links.length > 0 && (
    <ul class="streaming-links">
      {links.map((link) => (
        <li><a href={link.href}>{link.label}</a></li>
      ))}
    </ul>
  )
}
